KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PUBLIC_URL=https://kc-sso-demo.krasisoft.com
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
APP1_PUBLIC_URL=https://app1-sso-demo.krasisoft.com
APP2_PUBLIC_URL=https://app2-sso-demo.krasisoft.com
OAUTH2_PROXY_CLIENT_ID=frontend
OAUTH2_PROXY_CLIENT_SECRET=change-me-frontend-client-secret
OAUTH2_PROXY_COOKIE_SECRET=0123456789abcdef0123456789abcdef
OAUTH2_PROXY_OIDC_ISSUER_URL=https://kc-sso-demo.krasisoft.com/realms/kc-sso-poc
OAUTH2_PROXY_COOKIE_SECURE=true
OAUTH2_PROXY_COOKIE_REFRESH=1m
